.UiKit-Input {
  display: flex;
  align-items: center;
}

.UiKit-Input-icon {
  width: var(--ui-kit-input-icon-width);
  text-align: center;
  margin-right: calc(-1 * var(--ui-kit-input-icon-width));
  padding-left: 13px;
  z-index: 1;
  color: var(--control-color);
}

.UiKit-FormControl.hasIcon {
  padding-left: calc(var(--ui-kit-input-icon-width) + 13px);
}
